page-list {

}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fondo{
	background-color:#0072bc;
}

.item-complex .item-content, .item{
    background-color: #FFFF
}

.scroll-content { background-color:#0072bc!important;}